.git
.gitignore
.DS_Store

.venv
venv
.python-version
.env
.env.*

__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/

.ipynb_checkpoints/
*.ipynb
scratch_*

.vscode/
.idea/

*.log

README.md
FLY_DEPLOY.md
